<ng-container>
  <div class="flex gap-6 relative">
    <ng-container *ngIf="!previewImgUrl; else filePreviewTpl">
      <div
        class="w-[250px] h-[350px] flex flex-col items-center border p-7 justify-center rounded"
      >
        <input
          type="file"
          (change)="handleFiles($event)"
          name="image"
          class="hidden"
          #fileInput
        />
        <h1 class="font-bold">Insert your files here</h1>
        <img
          src="assets/icons/cloud-upload-outline.svg"
          alt=""
          class="text-slate-400 fill-blue-500 my-7"
        />
        <button
          mat-raised-button
          (click)="fileInput.click()"
          class="bg-green-400 text-white"
        >
          Choose file
        </button>
      </div>
    </ng-container>
    <ng-template #filePreviewTpl>
      <div class="w-[250px] h-[350px] relative">
        <div class="absolute top-0 right-0">
          <button mat-icon-button (click)="emptyFile()">
            <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
          </button>
        </div>
        <img
          [src]="previewImgUrl"
          alt=""
          class="w-full h-full object-cover object-top"
        />
      </div>
    </ng-template>

    <div class="px-5 w-[40%]">
      <form>
        <div class="flex flex-col mb-4">
          <label for="title" class="text-sm font-semibold">Title</label>
          <input
            type="text"
            class="outline-none border-2 px-3 py-2 rounded"
            [(ngModel)]="productForm.title"
            name="title"
          />
        </div>
        <div class="flex flex-col mb-4">
          <label for="description" class="text-sm font-semibold"
            >Description</label
          >
          <textarea
            name="description"
            cols="30"
            rows="10"
            class="outline-none border-2 px-3 py-2 rounded"
            [(ngModel)]="productForm.description"
          >
          </textarea>
        </div>
        <div class="flex flex-col mb-4">
          <label for="price" class="text-sm font-semibold">Price</label>
          <input
            type="text"
            class="outline-none border-2 px-3 py-2 rounded"
            [(ngModel)]="productForm.price"
            name="price"
          />
        </div>
      </form>

      <div class="mt-10">
        <button
          mat-raised-button
          class="bg-orange-500 text-white w-full"
          (click)="addProduct()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</ng-container>
