<nav class="flex items-center justify-between py-[10px] px-[40px] border-b-2">
  <div>
    <ul class="flex items-center gap-7">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/products">Products</a></li>
    </ul>
  </div>
  <div class="font-bold text-lg">ShopLia</div>
  <div>
    <button mat-icon-button>
      <mat-icon fontSet="material-icons-outlined">person</mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon fontSet="material-icons-outlined">shopping_cart</mat-icon>
    </button>
  </div>
</nav>
<main class="px-[40px] pt-8">
  <router-outlet></router-outlet>
</main>
